# {{ ansible_managed }}
# Fluentd configuration - managed by stevefulme1.fluentd.install role

<system>
  log_level {{ install_log_level }}
  suppress_repeated_stacktrace {{ install_suppress_repeated_stacktrace | lower }}
  workers {{ install_workers }}
</system>

# Include additional configuration files
@include conf.d/*.conf
